/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== TOTAL SETTING ===============*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0B111E;
  /* height: 2000px; */
  padding-top: 60px;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #A395E9;
}

/*=============== reuseable ===============*/


/* button */

.btn {
  background-color:#A395E9;
  color: #fff;
  /* padding: 0.5rem 1rem; */
  border: none;
  outline: none;
  /* border-radius: 20px; */
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.btn:hover {
  scale: 1.05;
  color: #fff;
}

.btn:active {
  scale: 0.95;
}

/*=============== HEADER ===============*/

header {
  position: fixed;
  padding: 0 2rem;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #0B111E;
  z-index: 999;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0B111E;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 2.3rem;
  cursor: pointer;
  display: none;
  margin-top: 5px;
}

.action_btn {
  background-color:#A395E9;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/*=============== DROPDOWN MENU ===============*/

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*=============== HOME SCENE ===============*/

section#home {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  color: #fff;
}

.home__data {
  position: relative;
  display: grid;
  text-align: center;
  margin-top: 75px;
  row-gap: 1.5rem;
}

.home__greeting {
  font-size: 1.5rem;
}

.home__name {
  font-size: 2.5rem;
}

.home__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 60px 2rem;
  height: 100%;
}

.home__social {
  position: fixed;
  display: grid;
  row-gap: 0.5rem;
  bottom: 50%;
}

.home__social_link {
  width: max-content;
  color: #A395E9;
  /* background-color: #A395E9 ; opacity: 0.1; */
  background-color: rgba(163, 149, 233, 0.1);
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: flex;
  font-size: 1rem;
  transition: 0.4s;
}

.home__social_link:hover {
  background-color: #A395E9;
  color: #ddd;
}

.home__social::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: #A395E9;
  transform: rotate(90deg) translate(16px, 3px);
}

.content__1 {
  display: flex;
  justify-content: center;
}

.content__1_image {
  display: flex;
  background: linear-gradient(#A395E9,#0B111E );
  border-radius: 10rem 10rem 1rem 1rem;
  width: 353px;
  height: 455px;
  justify-content: center;
}



.content__2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 512px;
}

.content__2_text {
  font-size: 1.1rem;
  padding: 0.3rem;
  margin-left: 3rem;
  list-style: circle;
}

.content_pose_1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
}

.content_pose_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 0.8rem;
}

.content__button {
  height: 3rem;
  width: 7rem;
}

/* .me__image {
  display: flex;
  height: 250px;
  width: 250px;
  border: 1.5px solid #ddd;
  border-radius: 20%;
  padding: 5px;
  align-self: center;
  justify-self: center;
  margin: 25px;
} */

.me__image {
  display: flex;
  background: url(../public/img/me.jpg);
  align-self: center;
  width: 250px;
  height: 250px;
  background-size: cover;
  animation: shape 5s linear infinite;
  border: 1.5px solid #ddd;
}

@keyframes shape {
  0%, 100% {border-radius: 
    40% 60% 70% 30% / 40% 40% 60% 50%;}
  33% {border-radius: 
    70% 30% 50% 50% / 30% 30% 70% 70%;}
  66% {border-radius: 
    100% 60% 60% 100% / 100% 100% 60% 60%;}
}

/* other */

.learn_more {
  color: #A395E9;
  text-decoration: underline;
  font-size: 1.3rem;
}

.city_link {
  color: #A395E9;
  text-decoration: underline;
}

/*=============== RESPONCIVE DESIGN ===============*/

@media(max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media(max-width: 576px) {
  .home__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .dropdown_menu {
    left: 2rem;
    width: unset;

  }
}

@media(max-width: 420px) {
  .home__social {
    left: 5px;
  }

  .content_pose_3 {
    padding-bottom: 60px;
  }
}

@media(max-width: 400px) {
  .home__content {
    margin: 60px 0;
  }

  .content__2 {
    padding-top: 60px;
  }

  .home__social {
    bottom: 60px;
  }
}


.rad {
  background-color: #fff;
}